<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档阅读</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    
</head>

<body ng-app="mvApp" ng-controller="FileListController">
    
     <div class="panel panel-default" ng-model="fileList">
         <div class="panel-heading">
             <div class="btn-group" style="float:right">
            <button type="button" class="btn btn-default"  ng-click="newFolder()"><span class="glyphicon glyphicon-folder-open"></span> 新文件夹</button>
            <button type="button" class="btn btn-primary"  ng-click="newFile()"><span class="glyphicon glyphicon-plus"></span> 新文件</button>
             <button type="button" class="btn btn-default"  ng-click="goBack()"><span class="glyphicon glyphicon-share-alt"></span>上级目录</button>
             </div>
             <h2 class="panel-title">当前路径： {{curPath}}</h2>
      </div>
          <div class="panel-body">
            <div class="list-group">
                <li ng-repeat="file in fileList| orderBy:'-isDirectory' "  class="list-group-item">
                <div class="btn-group" style="float:right">
                    <button type="button" class="btn btn-default"  ng-click="renameFile(file)"><span class="glyphicon glyphicon-folder-open"></span> 重命名</button>
                    <button type="button" class="btn btn-primary"  ng-click="deleteFile(file)"><span class="glyphicon glyphicon-remove-circle"></span>  删除</button>                     
             </div>
              <a href="#"  ng-click="selectFile(file)">
                  <span class="glyphicon glyphicon-folder-close" ng-if="file.isDirectory"></span>
                  {{file.title}}</a>
                </li>
            </div>
          </div>
         <div class="panel-footer">知识库，Lf出品</div>
    </div>


    <script src="vendor/angular/angular.min.js"></script>
     <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="js/services/lb-services.js"></script>
    <script src="js/mvNewApp.js"></script>
    <!--<script>
        var path = '/lv1/lv2/2.txt';
        var index = path.lastIndexOf('/');
        //if(index<=0)return '/'
        //console.log('substr:', path.substr(0, index ) );
        console.log( path.substr(index +1, path.length) );
    </script>-->
</body>

</html>