<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知识库</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="vendor/angular-ui-tree/demo/css/demo.css">
    
      <link href="vendor/angular-pagedown/angular-pagedown.css" rel="stylesheet">
      
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nodejs support knowledge base</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
    	<div class="row-fluid">
	    	<!-- Nested node template -->

			<script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content" ng-click="selectFile(this)">
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove1(this,$event)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
          <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree id="tree-root" class="col-md-4" ng-controller="treeCtrl" data-drag-enabled="false">
          <ol ui-tree-nodes="" ng-model="treeData" id="tree-root">
            <li ng-repeat="node in treeData" ui-tree-node ng-include="'nodes_renderer.html'" ></li>
          </ol>
        </div>
	    <div ui-view class="col-md-8" id="fileView"></div>
      </div>
    </div>

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    
    <script type="text/javascript" src="vendor/angular-ui-tree/dist/angular-ui-tree.js"></script>
      
      <script src="vendor/pagedown/Markdown.Converter.js"></script>
      <script src="vendor/pagedown/Markdown.Sanitizer.js"></script>
      <script src="vendor/pagedown/Markdown.Extra.js"></script>
      <script src="vendor/pagedown/Markdown.Editor.js"></script>
      <script src="vendor/angular-pagedown/angular-pagedown.js"></script>
      
    <script src="js/services/lb-services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/file.js"></script>
  <script type="text/javascript" src="js/controllers/tree.js"></script>
  </body>
</html>
